[Unit]
Description=adsbexchange-stats
After=dump1090-sdrplay.service
PartOf=adsb-feeders.target

[Service]
Type=simple
Restart=always
RestartSec=30
RuntimeDirectory=adsbexchange-stats
SyslogIdentifier=adsbx-stats
StandardOutput=journal
StandardError=journal
Nice=19
IOSchedulingClass=idle
User=root
ExecStart=/usr/local/share/adsbexchange-stats/json-status

[Install]
WantedBy=adsb-feeders.target
