[Unit]
Description=SDRplay API Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1
SyslogIdentifier=sdrplay
StandardOutput=journal
StandardError=journal
# Nice=-5
User=root
ExecStart=/opt/sdrplay_api/sdrplay_apiService

[Install]
WantedBy=multi-user.target
