[Unit]
Description=ADSB Monitor Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/tracking-adsb/monitor/monitor /opt/tracking-adsb/monitor/config.%H.js
TimeoutStopSec=15s
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

